.container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.container .mat-form-field {
  width: 220px;
}

.container form {
  margin-bottom: 20px;
}

.container form > * {
  margin: 5px 0;
}

.container .mat-radio-button {
  margin: 0 12px;
}

.invisible {
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}

.hidden {
  display: none;
}

.mat-mini-fab.mat-accent {
  background-color: #2196F3;
  color: white;
}

.button__padding {
  margin: 5px 5px 5px 6px;
  /*top: 50%;*/
  transform: translateY(-20%);
  -ms-transform: translateY(-20%);
  -moz-transform: translateY(-20%);
  -webkit-transform: translateY(-20%);
  -o-transform: translateY(-20%);
}

.plus-button{
  margin: 0 0 0 8px;
}



